<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Sew & Sews - A blogging platform for Sewists</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <script src="/js/app.js" charset="utf-8"></script>
</head>
<body class="has-navbar-fixed-top">

  <nav class="navbar is-light is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <img src="/assets/images/logo-02.png" alt="Sew & Sews - A blogging platform for Sewists" width="112" height="28">
      </a>

      <a role="button" class="navbar-burger burger" data-target="navmenu" aria-label="menu" aria-expanded="true">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

      <div class="navbar-menu" id="navmenu">
        <div class="navbar-end">
          <a class="navbar-item is-active" href="/">Home</a>
          <a class="navbar-item" href="/posts">All posts</a>

          <% if(locals.isAuthenticated) { %>
            <a class="navbar-item" href="/posts/new">Create post</a>
            <a class="navbar-item" href="/logout">Logout</a>
            <a class="navbar-item" href="/account"><strong><%= locals.currentUser.username %></strong> <img class="profile "src="<%= locals.currentUser.imageSrc %>" style="height:25px"></a>
          <% } else { %>
            <a class="navbar-item" href="/login">Login</a>
            <a class="navbar-item" href="/register">Register</a>
          <% } %>
      </div>

    </div>

  </nav>


  <!-- prints out our flash messages -->
  <% for (const type in messages) { %>
    <p class="notification <%= type %>"><%= messages[type] %></p>
  <% } %>

      <main>
        <%- body %>
      </main>
    </body>
    </html>
