<h1>My account</h1>

<p>Username: <%= user.username %></p>
<p>Email: <%= user.email %></p>
  <img src="<%= user.image %>" style="height:100px">


<a href="/account/edit">Edit</a>
<form method="POST" action="/account/<%= user._id %>" >
<input type="hidden" name="_method" value="DELETE">
<button class="delete">Delete account</button>
</form>


<% user.posts.forEach(post => { %>
  <h1 class="title"><%= post.title %></h1>
  <h2 class="subtitle"><%= post.subtitle %></h2>
   <a href="/posts/<%= post._id %>">
     <img src="<%= post.hero %>" alt="<%= post.title %>">
   </a>
<% }) %>
