<section class="section">
  <div class="container">

    <h1 class="title">My account</h1>
    <div class="columns">
      <div class="column is-2">
        <p><img class="profile" src="<%= user.imageSrc %>" style="height:120px"></p>
      </div>
      <div class="column is-4">
        <p><strong>Username: </strong><%= user.username %></p>
        <p><strong>Email: </strong><%= user.email %></p>

      </div>

      <div class="column">
<div class="field">
        <a class="button is-info" href="/account/edit">Edit details</a>
      </div>
      <div class="field">
        <form method="POST" action="/account/<%= user._id %>" >
          <input type="hidden" name="_method" value="DELETE">
          <span class="button is-danger">
            Delete account
            <button class="delete"></button>
          </span>
        </form>
      </div>
      </div>

    </div>



    <h1 class="title">My posts</h1>
    <div class="columns">

    <% user.posts.forEach(post => { %>
      <div class="column is-one-third">


<a href="/posts/<%= post._id %>">
       <div class="card">
       <div class="card-image">
       <figure class="image is-4by3">
       <img class="card" src="<%= post.hero %>" alt="<%= post.title %>">
       </figure>
       </div>
       <div class="card-content">
       <p class="subtitle is-6">Posted <%= post.postCreatedAtFormatted %></p>
       <p class="title is-4"><%= post.title %></p>
       <p>Read more</p>
       <a href="/posts/<%= post._id %>/edit">Edit post</a>
       </div>
       </div>
</a>
</div>
    <% }) %>
  </div>




  </div>
</section>
