<section class="section">
  <div class="form container">

    <h1 class="title">Edit post</h1>
    <form method="POST" action="/posts/<%= post._id %>" >

      <input type="hidden" name="_method" value="PUT" />

      <div class="field">
        <label class="label" for="title">Title</label>
        <div class="control">
          <input class="input" name="title" id="title" placeholder="Title"  value="<%= post.title %>" />
        </div>
      </div>

      <div class="field">
        <label class="label" for="subtitle">Subtitle</label>
        <div class="control">
          <input class="input" name="subtitle" id="subtitle" placeholder="Subtitle" value="<%= post.subtitle %>" />
        </div>
      </div>

      <div class="field">
        <label class="label" for="hero">Hero image</label>
        <div class="control">
          <input class="input" name="hero" id="hero" placeholder="Hero image" value="<%= post.hero %>"required pattern="^https?://.+" />
        </div>
      </div>

      <div class="field">
        <label class="label" for="copy">Copy</label>
        <div class="control">
          <textarea class="textarea" rows="8" name="copy" id="copy"><%= post.copy %></textarea>
        </div>
      </div>

      <button class="button is-link">Submit</button>
    </form>
  </div>
</section>
