<section class="section">
  <div class="container">

    <form method="GET" action="/posts">
      <div class="field has-addons">
        <div class="control is-expanded">
          <input class="input" name="search" type="text" placeholder="Search" value="<%= locals.search %>">
        </div>
        <div class="control">
          <button class="button">
            Search
          </a>
        </div>
      </div>
    </form>

<% locals.posts.forEach(post => { %>
  <a href="/posts/<%= post._id %>">
    <div>
      <h4><%= post.title %></h4>
      <h5><%= post.subtitle %></h5>
      <img src="<%= post.hero %>" alt="<%= post.title %>" height="200"/>
    </div>
  </a>
<% }) %>

</div>
</section>
